.homepage {
  border-radius: 7px;
  margin: 0 auto;
  width: 35rem;

  .header {
    font-size: 2.3rem;
    margin: 2rem 0;
  }

  &--white {
    background: #fff;
    border: solid 1px #eee;
    color: #282828;
  }

  &--black {
    background: #000;
    border: solid 1px #fff;
    color: #fff;
  }

  .input {
    line-height: 2rem;
    background-color: #fff;
    border: transparent;
    border-bottom: solid 1px #bdbdbd;
    border-radius: 5px 0px 0px 5px;
  }

  .list {
    padding: 0px;

    li {
      border-bottom: solid 1px #bdbdbd;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding: 0.5rem 1rem;
      width: 25rem;

      .dlt-btn {
        color: orangered;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
